.foot {
  background-color: aliceblue;
  padding: 20px 0;
  opacity: 0.8;
}

.container {
  text-align: center;
}

.container_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Adds space between icons */
  margin-top: 20px;
}

.container_icon img {
  width: 40px; /* Set the size of icons */
  height: 40px;
  transition: transform 0.3s ease; /* Adds hover effect */
}

.container_icon img:hover {
  transform: scale(1.1); /* Slight zoom-in effect on hover */
}

.copy {
  color: black;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}
